.class1{
background-color: #FAA46B;
padding: 25px;
margin: 20px;
font: Times New Roman;
}

.class2{
  background-color: #FB8347;
  padding: 25px;
  margin: 20px;
  font: Times New Roman;
}

h1 {
color: black;
font-family:monospace;
font-size: 45px;
text-align: center;
}

body{
  background-color: #F3C3AD;
}

<style>
ul {
list-style-type: none;
  margin: 20px;
  padding: 25px;
  overflow: hidden;
  background-color: #FAA46B;
}

li {
  list-style-type: none;
  float: left;
  background-color: #FAA46B;
}

li a, .dropbtn {
  list-style-type: none;
  display: inline-block;
  color: BLACK;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #FAA46B;
}

li a:hover, .dropdown:hover .dropbtn {background-color: #FB8347}

li.dropdown {
  list-style-type: none;
  display: inline-block;
    background-color: #FAA347;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FB8347;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #FB8347;}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
